openapi: 3.0.0
info:
  title: ToDoApp Core
  description: Microservice to manage tasks
  version: 1.0.0
servers:
  - url: http://localhost:3000
    description: Local server

  - url: http://todoapp.test
    description: Local with ingress

paths:
  /api/tasks:
    get:
      summary: Get all tasks
      tags:
        - Tasks
      responses:
        "200":
          description: Tasks list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"

    post:
      summary: Create new task
      tags:
        - Tasks
      requestBody:
        description: New task data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewTask"
      responses:
        "201":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

  /api/tasks/{id}:
    put:
      summary: Update task
      tags:
        - Tasks
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Task ID
      requestBody:
        description: Data to change
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTask"
      responses:
        "200":
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

    delete:
      summary: Delete task
      tags:
        - Tasks
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Task ID
      responses:
        "204":
          description: Task deleted successfully

components:
  schemas:
    Task:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        completed:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - _id
        - title
        - completed

    NewTask:
      type: object
      properties:
        title:
          type: string
      required:
        - title

    UpdateTask:
      type: object
      properties:
        title:
          type: string
        completed:
          type: boolean
